{% extends "components/index.html" %}

{% block main %}
{% load static %}
<div class="container d-flex justify-content-center align-items-center">
    <form class="d-flex flex-column align-items-center gap-3" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <img src="{% static 'src/logo.svg' %}" width="57" height="57">
        <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
        <div class="form-floating">
          <input type="text" class="form-control" id="floatingInput" placeholder="Your Name">
          <label for="floatingInput">Name</label>
        </div>
        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email" id="email" required="">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="pwd" id="pwd" required="">
          <label for="floatingPassword">Password</label>
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit">Sign Up</button>
        {% if error %}
        <div class="alert alert-danger" role="alert">
           {{ error }}
        </div>
        {% endif %}
    </form>
</div>
{% endblock main %}